@font-face {
  font-family: Dimkin-Bold; /* Гарнитура шрифта */
  src: url(font/Dimkin-Bold.ttf); 
 }

@font-face {
  font-family: Dimkin-Regular; /* Гарнитура шрифта */
  src: url(font/Dimkin-Regular.ttf); 
}

button {
    background-color:#484848;
    font-family: Dimkin-Bold, 'Dimkin-Bold';
    color: white;
    padding: 14px 20px;
    margin: 8px 0 0 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
}
button:hover {
    opacity: 0.8;
}
.zapis {
  background: url('../img/index.jpg');
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 75% 75% / 20%;
  margin-bottom: 50px;
}
.zapis .zapis1{
  width: 100%;
  height: 100%;
  padding: 70px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, rgba(69, 111, 206, 0.6) 100%, rgba(69, 111, 206, 0.6) 10%);
  
}

.new_mes {
  background: #ff9999;
  padding:3px;
  border-radius: 5px;
  font-size: 9pt;
}

.zapis1 h1 {
  font-family: Dimkin-Bold, 'Dimkin-Bold';
  font-size: 70px;
  margin-bottom: 30px;
}

.zapis1 h3 {
  margin-bottom: 30px;
}

.zapis1 p{
  font-family: Dimkin-Regular, 'Dimkin-Regular';
  font-size: 20px;
  margin-bottom: 30px;
}

.zapis1 button {
  font-family: Dimkin-Bold, 'Dimkin-Bold';
  width: auto;
}
.example-2 .btn-tertiary{color:#555;padding:0;line-height:40px;width:300px;margin:auto;display:block;border:2px solid #555}
.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{color:#888;border-color:#888}
.example-2 .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.example-2 .input-file + .js-labelFile{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 10px;cursor:pointer}
.example-2 .input-file + .js-labelFile .icon:before{content:"\f093"}
.example-2 .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}

 #js-show-iframe-wrapper{position:relative;display:flex;align-items:center;justify-content:center;width:100%;min-width:293px;max-width:100%;background:linear-gradient(138.4deg,#38bafe 26.49%,#2d73bc 79.45%);color:#fff;cursor:pointer}
 #js-show-iframe-wrapper .pos-banner-fluid *{box-sizing:border-box}
 
.topnav {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.h4 img{
    width: 70px;
}

.logo {
  width: 140px;
}


.topnav a {
    float: left;
    display: block;
    color: #dd84fa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.topnav .icon2:hover {
    background: url('../img/h1.png') no-repeat;
    background-size: 150px;
    background-position: center;
    color: #456fce;
    transition: .2s;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.order {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  background: white;
  border-radius: 10px;
  margin:20px;
  flex-grow: 1;
  flex-basis:min-content;
}

.order p{
  text-align: justify;
}
.order h2{
  text-align: center;
}

.order img {
  border-radius: 10px;
}

.h1_img {
  background: url('../img/h1.png') no-repeat;
  background-size: 150px;
  background-position: center;
  color: #456fce;
  margin-bottom: 20px;
  text-align: center;
}

.topnav .icon {
    display: none;
}

.cardi {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: auto;
  margin: 20px;
  border-radius: 20px;
  font-size: 16pt;
  padding: 10px;
  border:1px solid #456fce;;
}

.headimg {
  width: 100%;
  background: url('../img/headimg.png') no-repeat;
  background-size: 100%;
  min-height: 110px;

}

.opa {
  display: none;
}

.cadi1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
* {
	padding: 0;
	margin:0;
  box-sizing: border-box;
}
body {
	font-family: Dimkin-Regular, 'Dimkin-Regular';
  min-height: 800px;
  width: 100%;
  background-size: 100%;
  background: url('../img/body.jpg') no-repeat;
  background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.head { 
	display: flex;
	justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  background: white;
}
.button {
background-color: red;
border-radius: 10px;
display: flex;
color: white;
padding: 15px;
text-align: center;
align-items: center;
text-decoration: none;
display: inline-block;
font-size: 26px;
margin: 3px;
width: auto;
border:1px solid red;
display: block;
}
header a {
  text-decoration: none;
}
.button a {
text-decoration: none;
color: white;
display: inline-block;
  padding: 5px 10px;
  background: red;
  position: relative;
}
.button:hover {
  box-shadow: none;
  border:1px solid red;
  background-color: white;
  color: red;
  transition: .3s;
}
.cont {
	height: 0 auto;
	display: flex;
	justify-content: space-around;
  flex-wrap: wrap;
	margin-top: 10px;
}
.con {
	width: 300px;
	height: 200px;
  display: flex;justify-content: space-around;
  flex-direction: column;
	background-color: #c4c4c4;
	border-radius: 20px;
  margin: 20px;
}
.align {
	text-align: center;
}

footer {
        padding: 13%;
        background: red;
        color: white;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        background: url('../img/footer.png') no-repeat;
        background-size: 100%;
        
      }
.field__wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}
 
.field__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
.field__file-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
 
.field__file-fake {
  height: 50px;
  width: calc(100% - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  border: 1px solid #c7c7c7;
  border-radius: 3px 0 0 3px;
  border-right: none;
}
 
.field__file-button {
  width: 120px;
  height: 50px;
  background: #9df5d5;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.f2 {
	color: black;
  background:white;
	font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
* {box-sizing: border-box;}
.container {
  padding: 16px;
}
input[type=text], input[type=password], input[type=email], input[type=phone], input[type=number], input[type=date] {
  width: 100%;
  padding: 15px;
  font-size: 14pt;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}
input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

.registerbtn {
  background-color: #484848;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity:1;
}
a {
  color: dodgerblue;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.container {
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}
.contact-page {
  margin: 50px 200px;
  display: flex;
  justify-content: space-around;
}
.ofis {
  margin-top: 30px;
}
div.ofis:first-child {
  margin-top: 0px;
}
.contact-info-p {
  margin-top: 20px;
  font-size: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.m {
  display: flex;
  width: 320px;
  text-align: justify;
  padding: 20px;
  flex-direction: column;
  font-size: 14pt;
}

.m1 {
  display: flex;
  width: 400px;
  text-align: justify;
  padding: 20px;
  flex-direction: column;
  font-size: 14pt;
}

.m li {
  padding: 10px;
}

.m h2 {
  text-align: center;
  color: white;
  padding: 15px;
}

.m1 li {
  padding: 10px;
}

.m1 h2 {
  text-align: center;
  color: white;
  padding: 15px;
}

.name_menu1 {
  background: #456fce;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 80px;
}

.name_menu2 {
  background: #456fce;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 80px;
}

.name_menu3 {
  background: #456fce;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 80px;
}

.name_menu4 {
  background: #456fce;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 80px;
}

.push {
  list-style: none;
  width: 45%;
}
.push li {
  position: relative;
  padding: 20px 0 20px 40px;
  color: #525252;
  font-weight: bold;
  font-size: 13pt;
  cursor: pointer;
}
.push li:before {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #dd84fa;
  content: "";
  left: 0;
  transition: .3s ease-in-out;
  top: 27px;
}
.push li:after {
  position: absolute;
  border-left: 2px solid #3dc8ff;
  width: 1px;
  bottom: -12px;
  content: "";
  left: 3px;
  top: 48px;
}
.push li:hover:before{box-shadow: 0 0 0 10px rgba(0,0,0,.2)}
.push li:last-child:after {content: none;}

.slaider {
  width: 0 auto;
}
.slider {
      position: relative;
      overflow: hidden;
      max-width:1850px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
       border-radius:15px;
    }
    .slider__wrapper {
      position: relative;
      overflow: hidden;
    }
    .slider__items {
      display: flex;
      transition: transform 0.6s ease;
    }
    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
       border-radius:15px;
    }
    .slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
    }
    .slider__control_show {
      display: flex;
    }
    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: 0.9;
    }
    .slider__control_prev {
      left: 0;
    }
    .slider__control_next {
      right: 0;
    }
    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
       border-radius:15px;
    }
    .slider__indicators {
      position: absolute;
      right: 0;
      bottom: 10px;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
    }
     .slider__control_prev::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_next::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    .slider__indicators li {
      box-sizing: content-box;
      flex: 0 1 auto;
      width: 30px;
      height: 4px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);
      background-clip: padding-box;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    .slider__indicators li.active {
      background-color: #fff;
    }
    .img-fluid {
      display: inline-block;
      height: 100%;
      max-width: 100%;

    }


.zavki_all{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.zavki_one{
  background: white;  
  display: flex;
  align-items: center;
  width: auto;
  flex-direction: column;
  height: auto;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 4px 5px 5px #456fce;
  max-width: 450px;
  margin: 5px;  
}

.zavki_one p{
  font-size: 14pt;
  padding: 5px;
}

.zavki_one h2{
  padding-bottom: 10px;
  text-align: center;
}

.status_zavki_1{
  border:5px dotted gray;
  padding: 10px;
  font-size: 14pt;
  color: gray;
  text-align: center;
}

.status_zavki_2{
  border:5px dotted green;
  padding: 10px;
  font-size: 14pt;
  color: green;
  text-align: center;
}

.status_zavki_3{
  border:5px dotted red;
  padding: 10px;
  font-size: 14pt;
  color: red;
  text-align: center;
}

.delete_form {
  
}

.raz {
  position: relative;
}
.raz > div {
  position: absolute;
  top: 0;
  left: 50%;
}
.raz > div > #popUp {
  height: auto;
  width: auto;  
  border-radius: 11px;
  background: white; 
  display: none; 
  opacity: 0;
  padding: 5px;
  z-index: 6;
  position: fixed;
  transform: translate(-50%,-25%);
}
#popUp #close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  text-align: right;
  width: 100%;
  height: 23px;
}
#overlay {
  z-index:4; 
  background-color:#010; 
  position:fixed; 
  opacity:0.86;
  width:100%; 
  height:100%;
  display:none; 
  top:0;
  left:0;
}

 

 .pagination_section{
            margin:20px 0 20px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
        }

        .pagination_section a {
            cursor: pointer;
            color: black;
            padding: 10px 18px;
            text-decoration: none;
        }
        /* pagination hover effect on non-active */
         
        .pagination_section a:hover:not(.active) {
            background-color: #031F3B;
            color: white;
        }

        .pagination_section a{

        }

        /* pagination hover effect on active*/

         

.pokprod {
  width: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
}
#pokprod {
  width: 700px;
  background-color: #c4c4c4;
  text-align: center;
  padding: 5px;
  margin: 2px;
}
#pokprod a {
  color: black;
  font-size: 40px;
  text-decoration: none;
}
#pokprod a:hover {
  color: white;
}

.pok {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.prod {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.filter {
  height: auto;
  border: 2px solid red;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  height: 900px;
  width:350px;
  margin:20px;
  padding-top: 40px;
}
.mma {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.fil1, #fil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30px;
  align-items: center;
  padding: 5px;
  color: black;
}

.select {
    width: 60%;
    border: 1px solid #a7a7a7;
    color: black;
    font-size: 16px;
    line-height: 1.4;
    font-weight: normal;
    padding: 7px 10px 7px 10px;
    height: 36px;
    vertical-align: top;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    border-radius: 10px;
}
.selectt {
  width: 200px;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  border-top-left-radius:5px; 
  border-top-right-radius:5px;
}

  .adress12{
    width: 300px;
    text-align: justify;
  }


input {
  font-size: 13px;
  padding: 6px 0 4px 10px;
  background: #F6F6f6;
  border-radius: 8px;
}
.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #d6d6cd;
    width: 18px;
    height: 19px;
    cursor: pointer;
    position: relative;
}
.checkbox::before {
    content: "✔";
    color: blue;
    font-size: 18px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    opacity: 0;
    transition: .1s ease-in;
}
.checkbox:checked::before {
    opacity: 1;
}
.button1 {
  display: inline-block;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  background-color: red;
  width: 300px;
}
.button1 a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button1:hover span {
  padding-right: 25px;
}
.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.catal {
  width: 0 auto;
  height: 0 auto;
}
.table_price {
  width: 100%;
  margin-bottom: 20px;
 }
 .table_price td {
  font-size: 20px;
 }
.table_price td, .table_price th {

  text-align: center;
}
.table_price th {
  font-size: 35px;
}
.table_price tr {
  background: #E5E5E5;
}
.table_price th {
  background: #E5E5E5;
}
.table_price td:last-of-type {
  text-align: center;
}
.table_price a {
  display: inline-block;
  padding: 5px 10px;
  background: red;
  box-shadow: 2px 2px 0 0 #484848;
  position: relative;
  color: white;
}
.table_price a:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
}
.dom  {
  height: 100%;
  max-width: 200px;
}
.d  {
  height: 150px;
  width: 0 auto;
}
.form1 {
  width: 900px;
  margin: 0 auto;
}
.excel {
  border-radius: 5px;
  background: red;
  padding: 10px;
  color: white;
}

.excel1 {
  border-radius: 10px;
  background: #c4c4c4;
  padding: 10px;
  display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
}

.forma h2 {
  font-size: 16pt;
}

.forma hr{
  padding: 0;height: 0;border: none;box-shadow: 0 0 10px 1px black;
  width: 100%;
  margin: 5px 0 15px 0;
}

.hr-line {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 2px solid red;
}
label {
  margin: 5px;
  font-size: 14pt;
}
.slid {
  display: block;
  width: 40%;
  text-align: center;
  padding-top: 20px;
  padding-right: 1px;
}
.kvar {
  width: 0 auto;
  height: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
}
.kvar2 {
  width: 40%;
  display: block;
  text-align: center;
  padding: 20px;
  padding-left: 1px
}
.opis {
  height: 0 auto;
  margin: 10px;
  text-align: center;
  font-size: 25px;
}

.forma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  max-width: 1000px;
  padding: 10px;
}

.forma input{
   text-align: center;
}


.ff {
  display: flex;
  justify-content: space-around;
}

.subm {
  text-align: center;

}

.sub {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: Dimkin-Regular, 'Dimkin-Regular';
    text-align: center;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    outline: 1px solid;
    outline-color: #337AB7;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);  
}
.sub:hover,
.sub:active,
.sub:focus {
    box-shadow: inset 0 0 20px #BFE2FF;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: #FFF;
}
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    text-align: justify;
}


.kak_a {
  margin: 0;
  padding: 0;
  color: #007bff;
  background: none;
  padding: 1px;
  text-decoration: none;
  outline:none;
  cursor:pointer;
}
.kak_a:hover {
  text-decoration: underline;
  text-decoration: none;
  outline:none;
  cursor:pointer;
}


#gallery img {
  max-width: 220px;
  max-height: 60px;
  cursor: zoom-in;
  border-radius: 5px;
  opacity: 0.8;
}
#gallery img:focus {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 31;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
  outline: none;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-user-select: none; user-select: none;
}
#gallery img:focus ~ div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background: rgba(0,0,0,.7);
  cursor: zoom-out;
}



.of {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.of a {
  margin:20px;
}

.h4 a {
  margin:20px;
}

video {
  border-radius: 5px;
}
.acab {
  min-height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.acaab {
  min-height: 850px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.krutou {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
    border: unset;
    outline: none;
    color: black;
    width: 100%;
    background: none;
    font-size: 12pt;
}






.chat{
      margin-top: auto;
      margin-bottom: auto;
    }
    .card{
      height: 700px;
      border-radius: 15px !important;
      background-color: rgba(0, 68, 255, 0.137) !important;
    }
    .contacts_body{
      padding:  0.75rem 0 !important;
      overflow-y: auto;
      white-space: nowrap;
    }
    .msg_card_body{
      overflow-y: auto;
    }
    .card-header{
      border-radius: 15px 15px 0 0 !important;
      border-bottom: 0 !important;
    }
   .card-footer{
    border-radius: 0 0 15px 15px !important;
      border-top: 0 !important;
  }
    .container{
      align-content: center;
    }
    .search{
      border-radius: 15px 0 0 15px !important;
      background-color: rgba(0, 68, 255, 0.3) !important;
      border:0 !important;
      color:white !important;
    }
    .search:focus{
         box-shadow:none !important;
           outline:0px !important;
    }
    .type_msg{
      background-color: rgba(0, 68, 255, 0.3) !important;
      border:0 !important;
      color:white !important;
      height: 60px !important;
      overflow-y: auto;
    }
      .type_msg:focus{
         box-shadow:none !important;
           outline:0px !important;
    }
    .attach_btn{
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 68, 255, 0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .send_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 68, 255, 0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .search_btn{
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .contacts{
      list-style: none;
      padding: 0;
    }
    .contacts li{
      width: 100% !important;
      padding: 5px 10px;
      margin-bottom: 15px !important;
    }
  .active{
      background-color: rgba(0,0,0,0.3);
  }
    .user_img{
      height: 70px;
      width: 70px;
      border:1.5px solid #f5f6fa;
    
    }
    .user_img_msg{
      height: 40px;
      width: 40px;
      border:1.5px solid #f5f6fa;
    
    }
  .img_cont{
      position: relative;
      height: 70px;
      width: 70px;
  }
  .img_cont_msg{
      height: 40px;
      width: 40px;
  }
  .online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
  }
  .offline{
    background-color: #c23616 !important;
  }
  .user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
  }
  .user_info span{
    font-size: 20px;
    color: white;
  }
  .user_info p{
  font-size: 10px;
  color: rgba(255,255,255,0.6);
  }
  .video_cam{
    margin-left: 50px;
    margin-top: 5px;
  }
  .video_cam span{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  .msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 15px;
    background-color: white;
    padding: 10px 15px 10px 15px;
    position: relative;
    min-width: 90px;
  }
  .msg_cotainer_send{
    margin-top: auto;
    min-width: 90px;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #456fce;
    padding: 10px 15px 10px 15px;
    position: relative;
  }
  .msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
  }
  .msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
  }
  .msg_head{
    position: relative;
  }
  #action_menu_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
  .action_menu{
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
  }
  .action_menu ul{
    list-style: none;
    padding: 0;
  margin: 0;
  }
  .action_menu ul li{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
  }
  .action_menu ul li i{
    padding-right: 10px;
  
  }
  .action_menu ul li:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
  }
  @media(max-width: 576px){
  .contacts_card{
    margin-bottom: 15px !important;
  }
  }







main {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.rectangle {
counter-reset: li;
list-style: none;
font: 14px "Trebuchet MS", "Lucida Sans";
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
width: 300px
}
.rectangle a {
position: relative;
display: block;
padding: .4em .4em .4em .8em;
margin: .5em 0 .5em 2.5em;
background: #D3D4DA;
color: #444;
text-decoration: none;
transition: all .3s ease-out;
}
.rectangle a:hover {background: #DCDDE1;}
.rectangle a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -2.5em;
top: 50%;
margin-top: -1em;
background: #456fce;
height: 2em;
width: 2em;
line-height: 2em;
text-align: center;
color: white;
font-weight: bold;
color: white;
}
.rectangle a:after {
position: absolute;
content: "";
border: .5em solid transparent;
left: -1em;
top: 50%;
margin-top: -.5em;
transition: all .3s ease-out;
}
.rectangle a:hover:after {
left: -.5em;
border-left-color: #9097A2;
}
.prof {
  width: 80%;
  height: 0 auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 10px;
}

.prof3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.add_group {
  height: 300px;
  border-radius: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  background: white;
  padding: 20px;
  width:350px;
  display: flex;
}

.add_group1 {
  height: auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  background: white;
  padding: 10px;
  width:350px;
}

.zak {
  width: 200px;
}

 .catal {
  width: 0 auto;
  height: 0 auto;
  min-height: 800px;
}

.catal2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.kvas11 {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background: white;
  font-size: 14pt;
  border-radius: 5px;
  }
  .kvas11 p {
    font-size: 14pt;
  }

.cl-btn-7 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;

    cursor: pointer;
}
.cl-btn-7:before {
    content: '+';
    color: #337AB7;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.cl-btn-7:hover:after {
    transform: scale(1);
}
.cl-btn-7:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: red;
}

.btn-2 {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  font-size: 12.5px;
  font-weight: normal;
  text-decoration: none;
  vertical-align: top;
  color: #fff;
  background-color: #5181b8;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  overflow: hidden;
}
.btn-2:focus-visible {
  box-shadow: 0 0 0 3px lightskyblue;
}
.btn-2:hover {
  opacity: 0.88;
}
.btn-2:active {
  line-height: 32px;
}
.btn-2:disabled {
  pointer-events: none;
  opacity: 0.65;
}
  

.kvass{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.kvas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: auto;
  margin: 5px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
}

.kvas1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

.hara1 th,td{
  padding: 5px;
}

.prof1 {
  width: 0 auto;
  height: 0 auto;
  padding: 20px;
  background: white;
  min-width: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.prof2 {
  width: 0 auto;
  height: 0 auto;
  padding: 10px;
  background: white;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

.error {
  -webkit-text-fill-color: red;
}


.msg {
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    -webkit-text-fill-color: red;
    font-weight: bold;
    margin: 10px;
}

.logout {
    color: #b7625c;
}
.form {
    display: flex;
    flex-direction: column;
    width: 600px;
}
 /* text field */
    .text-field {
      margin-bottom: 1rem;
    }

    .text-field__label {
      display: block;
      margin-bottom: 0.25rem;
    }

    .text-field__input {
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: 0.375rem 0.75rem;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #bdbdbd;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .text-field__input[type="search"]::-webkit-search-decoration,
    .text-field__input[type="search"]::-webkit-search-cancel-button,
    .text-field__input[type="search"]::-webkit-search-results-button,
    .text-field__input[type="search"]::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    .text-field__input::placeholder {
      color: #212529;
      opacity: 0.4;
    }

    .text-field__input:focus {
      color: #212529;
      background-color: #fff;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

    .text-field__input:disabled,
    .text-field__input[readonly] {
      background-color: #f5f5f5;
      opacity: 1;
    }

    /* active icon - 1 вариант */
    .text-field__icon {
      position: relative;
    }

    .text-field__icon .text-field__input {
      padding-right: 2.5rem;
    }

    .text-field__aicon {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      bottom: 0;
      right: 0.875rem;
      width: 1rem;
      cursor: pointer;
      color: #bdbdbd;
      transition: color 0.15s ease-in-out;
    }

    .text-field__aicon:hover {
      color: #212529;
    }

    /* active icon - 2 вариант */
    .text-field__aicon-2 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;
      right: 0;
      width: 2.5rem;
      border: 1px solid #bdbdbd;
      background-color: #f5f5f5;
      cursor: pointer;
      color: #212529;
      transition: background-color 0.15s ease-in-out;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    .text-field__aicon-2:hover {
      background-color: #e0e0e0;
    }
@media screen and (max-width: 1044px) {
  .h2 {
  display: none;
  }
}
@media screen and (max-width: 900px) {
  .h2 {
  display: none;
  }
.h3 {
  display: none;
  }
  .zapis1 h1 {
  font-size: 45px;
}
  .slider {
  display: none;
}
}
@media screen and (max-width: 490px) {
.h2 {
  display: none;
  }
  .zapis1 p {
  text-align: justify;
}
  .raz > div > #popUp{
    width: 100%;
  }
  .zapis1 h1 {
  font-size: 25px;
}
  .slider {
  display: none;
}
video {
  width: 100%;
}
audio {
  width: 100%;
}
}
@media screen and (max-width: 400px) {
  .of a{
    margin-left: 5px;
    margin-right: 5px;
  }
  .h4 a {
  margin-left: 10px;
  margin-right: 10px;
}
.sub {
  font-size: 12pt;
}
.h4 img{
  width: 50px;
}
.logo {
  width: 90px;
}
.head {
  padding:10px;
}
}
@media screen and (max-width: 320px) {
  video {
    width: 100%;
  }
  .zapis1 p {
  text-align: justify;
}
.sub {
  font-size: 10pt;
}
  audio {
    width: 100%;
  }
  .of a{
    margin-left: 5px;
    margin-right: 5px;
  }
  .h4 a {
  margin-left: 10px;
  margin-right: 10px;
}
.h4 img{
  width: 50px;
}
.logo {
  width: 90px;
}
.head {
  padding:10px;
}
}
@media screen and (max-width: 310px) {

  .zapis1 h1 {
  font-size: 25px;
}
.zapis1 p {
  text-align: justify;
}
.raz > div > #popUp{
    width: 100%;
  }
  .slider {
  display: none;
}

}
@media screen and (max-width: 680px) {
   .topnav a:not(:first-child) {display: none;}
   .topnav {
      background-color: white;
      overflow: hidden;
      display: block;
   }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .raz > div > #popUp{
    width: 100%;
  }
  .slider {
  display: none;
}
.push {
  width: 90%;
}

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .raz > div > #popUp{
    width: 100%;
  }
  .order {
    width: 100%;
  }
  .btn_sub{
    width: 100%;
  }
  .arrow_cont {
    width: 100%;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .slider {
  display: none;
}
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .raz > div > #popUp{
    width: 100%;
  }
  .slider {
  display: none;
}

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .raz > div > #popUp{
    width: 100%;
  }
  .order {
    width: 100%;
  }
  .btn_sub{
    width: 100%;
  }
  .arrow_cont {
    width: 100%;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .slider {
  display: none;
}
}
@media screen and (max-width: 805px) {
.cont {
  flex-direction: column;
  }
   .mma {
    flex-direction: column;
    align-items: center;
  }
  .kvas11 {
    width: 100%;
    flex-direction: column;
  }
  .filter {
    margin:0 0 50px 0;
  }
  .slider {
 display: none;
}
}
@media screen and (max-width: 1305px) {
.about p {
  font-size: 15px;
  }
   .mma {
    flex-direction: column;
    align-items: center;
  }
  .kvas11 {
    width: 100%;
    flex-direction: column;
  }
  .filter {
    margin:0 0 50px 0;
  }
  .slider {
  display: none;
}
}
@media screen and (max-width: 1110px) {
.f3 {
  display: none;
  }
   .mma {
    flex-direction: column;
    align-items: center;
  }
  .kvas11 {
    width: 100%;
    flex-direction: column;
  }
  .filter {
    margin:0 0 50px 0;
  }
.slider {
  display: none;
}
}
@media screen and (max-width: 525px) {
.f2 {
  font-size:10px;
  }
  .about p {
  font-size: 10px;
  }
  .raz > div > #popUp{
    width: 100%;
  }
  .mma {
    flex-direction: column;
    align-items: center;
  }
  .kvas11 {
    width: 100%;
    flex-direction: column;
  }
  .filter {
    margin:0 0 50px 0;
  }
  .slider {
 display: none;
}
}
@media screen and (max-width: 1345px) {
.contact-page {
  display: block;
  margin: 0 auto;

}
.slider {
  display: none;
}
}
@media screen and (max-width: 585px) {
.prof2 {
  margin-left: 0;
}
.raz > div > #popUp{
    width: 100%;
  }
#map {
  display: none;
}
 .mma {
    flex-direction: column;
    align-items: center;
  }
  .kvas11 {
    width: 100%;
    flex-direction: column;
  }
  .filter {
    margin:0 0 50px 0;
  }
  .slider {
  display: none;
}
}
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }

  .raz > div > #popUp{
    width: 100%;
  }
    .cancelbtn {
       width: 100%;
    }
    .slider {
  width: 100%;
}
}
@media screen and (max-width:1585px) {
  .opa{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .slider {
    width: 100%;
  }
  .imgopa{
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100%;
  }
  .kvar {
    display: block;
    width: 0 auto;
  }
  .kvar2 {
    width: 100%;
  }
  .slid {
    width: 100%;
  }
}
